In [1]:
#Pandas

In [8]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("iplmatches.csv",index_col=0)

In [4]:
df

,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
ID,,,,,,,,,,,,,,,,,,,
1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,N,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan
335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,N,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper
335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar
335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

In [5]:
df.columns

Index(['City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2', 'Venue',
       'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam', 'WonBy',
       'Margin', 'method', 'Player_of_Match', 'Team1Players', 'Team2Players',
       'Umpire1', 'Umpire2'],
      dtype='object')

In [12]:
df[['SuperOver','WinningTeam']]

        SuperOver                  WinningTeam
ID
1312200         N               Gujarat Titans
1312199         N             Rajasthan Royals
1312198         N  Royal Challengers Bangalore
1312197         N               Gujarat Titans
1304116         N                 Punjab Kings
...           ...                          ...
335986          N        Kolkata Knight Riders
335985          N  Royal Challengers Bangalore
335984          N             Delhi Daredevils
335983          N          Chennai Super Kings
335982          N        Kolkata Knight Riders

[950 rows x 2 columns]

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 950 entries, 1312200 to 335982
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             899 non-null    object
 1   Date             950 non-null    object
 2   Season           950 non-null    object
 3   MatchNumber      950 non-null    object
 4   Team1            950 non-null    object
 5   Team2            950 non-null    object
 6   Venue            950 non-null    object
 7   TossWinner       950 non-null    object
 8   TossDecision     950 non-null    object
 9   SuperOver        946 non-null    object
 10  WinningTeam      946 non-null    object
 11  WonBy            950 non-null    object
 12  Margin           932 non-null    float64
 13  method           19 non-null     object
 14  Player_of_Match  946 non-null    object
 15  Team1Players     950 non-null    object
 16  Team2Players     950 non-null    object
 17  Umpire1          950 non-null    object
 18  Umpire2          950 non-null    object
dtypes: float64(1), object(18)
memory usage: 180.7+ KB

In [96]:
np.sum(df.isnull())

City                51
Date                 0
Season               0
MatchNumber          0
Team1                0
Team2                0
Venue                0
TossWinner           0
TossDecision         0
SuperOver            4
WinningTeam          4
WonBy                0
Margin              18
method             931
Player_of_Match      4
Team1Players         0
Team2Players         0
Umpire1              0
Umpire2              0
dtype: int64

In [120]:
dfc=df.copy()

In [121]:
dfc.drop(['method'],axis=1,inplace=True)

In [122]:
dfc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 950 entries, 1312200 to 335982
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             899 non-null    object
 1   Date             950 non-null    object
 2   Season           950 non-null    object
 3   MatchNumber      950 non-null    object
 4   Team1            950 non-null    object
 5   Team2            950 non-null    object
 6   Venue            950 non-null    object
 7   TossWinner       950 non-null    object
 8   TossDecision     950 non-null    object
 9   SuperOver        946 non-null    object
 10  WinningTeam      946 non-null    object
 11  WonBy            950 non-null    object
 12  Margin           932 non-null    float64
 13  Player_of_Match  946 non-null    object
 14  Team1Players     950 non-null    object
 15  Team2Players     950 non-null    object
 16  Umpire1          950 non-null    object
 17  Umpire2          950 non-null    object
dtypes: float64(1), object(17)
memory usage: 173.3+ KB

In [123]:
np.unique(dfc['Team1'])

array(['Chennai Super Kings', 'Deccan Chargers', 'Delhi Capitals',
       'Delhi Daredevils', 'Gujarat Lions', 'Gujarat Titans',
       'Kings XI Punjab', 'Kochi Tuskers Kerala', 'Kolkata Knight Riders',
       'Lucknow Super Giants', 'Mumbai Indians', 'Pune Warriors',
       'Punjab Kings', 'Rajasthan Royals', 'Rising Pune Supergiant',
       'Rising Pune Supergiants', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad'], dtype=object)

In [124]:
dfc['Venue']

ID
1312200              Narendra Modi Stadium, Ahmedabad
1312199              Narendra Modi Stadium, Ahmedabad
1312198                         Eden Gardens, Kolkata
1312197                         Eden Gardens, Kolkata
1304116                      Wankhede Stadium, Mumbai
                              ...
335986                                   Eden Gardens
335985                               Wankhede Stadium
335984                               Feroz Shah Kotla
335983     Punjab Cricket Association Stadium, Mohali
335982                          M Chinnaswamy Stadium
Name: Venue, Length: 950, dtype: object

In [125]:
dfc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 950 entries, 1312200 to 335982
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             899 non-null    object
 1   Date             950 non-null    object
 2   Season           950 non-null    object
 3   MatchNumber      950 non-null    object
 4   Team1            950 non-null    object
 5   Team2            950 non-null    object
 6   Venue            950 non-null    object
 7   TossWinner       950 non-null    object
 8   TossDecision     950 non-null    object
 9   SuperOver        946 non-null    object
 10  WinningTeam      946 non-null    object
 11  WonBy            950 non-null    object
 12  Margin           932 non-null    float64
 13  Player_of_Match  946 non-null    object
 14  Team1Players     950 non-null    object
 15  Team2Players     950 non-null    object
 16  Umpire1          950 non-null    object
 17  Umpire2          950 non-null    object
dtypes: float64(1), object(17)
memory usage: 173.3+ KB

In [65]:
dfc['City']=dfc['City'].astype(dtype=object)

In [128]:
dfc.dropna(subset=['SuperOver'],inplace=True)

In [127]:
dfc['City'].mode()[0]

'Mumbai'

In [130]:
dfc['City'].fillna(dfc['City'].mode()[0],inplace=True)

In [133]:
dfc['Margin'].fillna(dfc['Margin'].median(),inplace=True)

In [134]:
dfc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 946 entries, 1312200 to 335982
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             946 non-null    object
 1   Date             946 non-null    object
 2   Season           946 non-null    object
 3   MatchNumber      946 non-null    object
 4   Team1            946 non-null    object
 5   Team2            946 non-null    object
 6   Venue            946 non-null    object
 7   TossWinner       946 non-null    object
 8   TossDecision     946 non-null    object
 9   SuperOver        946 non-null    object
 10  WinningTeam      946 non-null    object
 11  WonBy            946 non-null    object
 12  Margin           946 non-null    float64
 13  Player_of_Match  946 non-null    object
 14  Team1Players     946 non-null    object
 15  Team2Players     946 non-null    object
 16  Umpire1          946 non-null    object
 17  Umpire2          946 non-null    object
dtypes: float64(1), object(17)
memory usage: 140.4+ KB

In [136]:
np.unique(dfc['SuperOver'])

array(['N', 'Y'], dtype=object)

In [139]:
np.where(dfc['SuperOver']=='Y')

(array([114, 158, 159, 184, 192, 203, 243, 338, 471, 530, 605, 618, 815,
        879], dtype=int64),)

In [142]:
np.where(dfc['SuperOver']=='Y') #superovers

(array([114, 158, 159, 184, 192, 203, 243, 338, 471, 530, 605, 618, 815,
        879], dtype=int64),)

In [156]:
dfc.reset_index(inplace=True)

In [157]:
dfc.index

RangeIndex(start=0, stop=946, step=1)

In [154]:
dfc.loc[114,'SuperOver']

'Y'

In [212]:
v=[]
w=[]
for i in np.nditer(np.where(dfc['SuperOver']=='Y')):
    print(dfc.loc[i,'Team1'],'VS',dfc.loc[i,'Team2']+" = "+dfc.loc[i,'WinningTeam'])
    v.append(dfc.loc[i,'Venue'])
    w.append(dfc.loc[i,'WinningTeam'])
spvenuewin=np.array([v,w])

Delhi Capitals VS Sunrisers Hyderabad = Delhi Capitals
Kolkata Knight Riders VS Sunrisers Hyderabad = Kolkata Knight Riders
Mumbai Indians VS Kings XI Punjab = Kings XI Punjab
Royal Challengers Bangalore VS Mumbai Indians = Royal Challengers Bangalore
Delhi Capitals VS Kings XI Punjab = Delhi Capitals
Mumbai Indians VS Sunrisers Hyderabad = Mumbai Indians
Kolkata Knight Riders VS Delhi Capitals = Delhi Capitals
Gujarat Lions VS Mumbai Indians = Mumbai Indians
Rajasthan Royals VS Kings XI Punjab = Kings XI Punjab
Kolkata Knight Riders VS Rajasthan Royals = Rajasthan Royals
Royal Challengers Bangalore VS Delhi Daredevils = Royal Challengers Bangalore
Sunrisers Hyderabad VS Royal Challengers Bangalore = Sunrisers Hyderabad
Chennai Super Kings VS Kings XI Punjab = Kings XI Punjab
Kolkata Knight Riders VS Rajasthan Royals = Rajasthan Royals

In [169]:
np.unique(dfc['WinningTeam'])

array(['Chennai Super Kings', 'Deccan Chargers', 'Delhi Capitals',
       'Delhi Daredevils', 'Gujarat Lions', 'Gujarat Titans',
       'Kings XI Punjab', 'Kochi Tuskers Kerala', 'Kolkata Knight Riders',
       'Lucknow Super Giants', 'Mumbai Indians', 'Pune Warriors',
       'Punjab Kings', 'Rajasthan Royals', 'Rising Pune Supergiant',
       'Rising Pune Supergiants', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad'], dtype=object)

In [174]:
len(np.where(dfc['WinningTeam']=='Chennai Super Kings')[0])

121

In [177]:
def WinningIndex(Team):
    return np.where(dfc['WinningTeam']==Team)

In [205]:
for i in np.nditer(WinningIndex('Chennai Super Kings')):
    if(dfc.loc[i,'Venue']=='Chennai'):
        print(dfc.loc[i,'SuperOver'])

N
N
N
N
N
N
N
N
N
N
N
N
N
N
N
N
N
N
N
N
N
N
N
N
N
N
N
N
N
N
N
N
N
N
N
N
N
N
N
N

In [200]:
np.unique(dfc['Venue'])

array(['Arun Jaitley Stadium', 'Arun Jaitley Stadium, Delhi',
       'Barabati Stadium', 'Brabourne Stadium',
       'Brabourne Stadium, Mumbai', 'Buffalo Park', 'Chennai',
       'De Beers Diamond Oval', 'Dr DY Patil Sports Academy',
       'Dr DY Patil Sports Academy, Mumbai',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Dubai International Cricket Stadium', 'Eden Gardens',
       'Eden Gardens, Kolkata', 'Feroz Shah Kotla', 'Green Park',
       'Himachal Pradesh Cricket Association Stadium',
       'Holkar Cricket Stadium', 'JSCA International Stadium Complex',
       'Kingsmead', 'M Chinnaswamy Stadium', 'M.Chinnaswamy Stadium',
       'Maharashtra Cricket Association Stadium',
       'Maharashtra Cricket Association Stadium, Pune',
       'Narendra Modi Stadium, Ahmedabad', 'Nehru Stadium',
       'New Wanderers Stadium', 'Newlands', 'OUTsurance Oval',
       'Punjab Cricket Association IS Bindra Stadium',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'Punjab Cricket Association Stadium, Mohali',
       'Rajiv Gandhi International Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'Sardar Patel Stadium, Motera',
       'Saurashtra Cricket Association Stadium', 'Sawai Mansingh Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'Sharjah Cricket Stadium', 'Sheikh Zayed Stadium',
       "St George's Park", 'Subrata Roy Sahara Stadium',
       'SuperSport Park', 'Vidarbha Cricket Association Stadium, Jamtha',
       'Wankhede Stadium', 'Wankhede Stadium, Mumbai',
       'Zayed Cricket Stadium, Abu Dhabi'], dtype=object)

In [199]:
dfc['Venue'].replace("MA Chidambaram Stadium, Chepauk, Chennai","Chennai",inplace=True)

In [211]:
spvenuewin

array([['Chennai', 'Sheikh Zayed Stadium',
        'Dubai International Cricket Stadium',
        'Dubai International Cricket Stadium',
        'Dubai International Cricket Stadium', 'Wankhede Stadium',
        'Arun Jaitley Stadium', 'Saurashtra Cricket Association Stadium',
        'Sardar Patel Stadium, Motera', 'Sheikh Zayed Stadium',
        'M Chinnaswamy Stadium',
        'Rajiv Gandhi International Stadium, Uppal', 'Chennai',
        'Newlands'],
       ['Delhi Capitals', 'Kolkata Knight Riders', 'Kings XI Punjab',
        'Royal Challengers Bangalore', 'Delhi Capitals',
        'Mumbai Indians', 'Delhi Capitals', 'Mumbai Indians',
        'Kings XI Punjab', 'Rajasthan Royals',
        'Royal Challengers Bangalore', 'Sunrisers Hyderabad',
        'Kings XI Punjab', 'Rajasthan Royals']], dtype='<U41')